<div id="<%= dom_id contract %>">
  <p>
    <strong>Name:</strong>
    <%= contract.name %>
  </p>

  <p>
    <strong>Apiurl:</strong>
    <%= contract.apiUrl %>
  </p>

  <p>
    <strong>Privkey:</strong>
    <%= contract.privKey %>
  </p>

  <p>
    <strong>File:</strong>
    <%= contract.file %>
  </p>

</div>
