<div id="<%= dom_id flower %>">
  <p>
    <strong>Name:</strong>
    <%= flower.name %>
  </p>

  <p>
    <strong>Mesh:</strong>
    <%= flower.mesh_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= flower.color_id %>
  </p>

  <p>
    <strong>Hash String:</strong>
    <%= flower.hash_string %>
  </p>

  <p>
    <strong>Broken:</strong>
    <%= flower.broken %>
  </p>

</div>
